<?xml version="1.0"?>
<launch>
  <!-- MAP SERVER -->
  <arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- LOCALIZATION -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
 
    <!-- Overall filter parameters-->   
    <param name="min_particles" value="50"/> 
    <param name="max_particles" value="350"/>
    <param name="kld_err" value="0.001"/>
    <param name="kld_z" value="0.99"/>
    <param name="kld_err" value="0.01"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.1745"/>
    <param name="resample_interval" value="2"/> <!-- Higher resample rate than defualt:2 -->
    <param name="transform_tolerance" value="0.01"/>
    <param name="recovery_alpha_slow" value="0.001"/> <!-- Exponential decay rate for the slow average weight filter, used in deciding when to recover by adding random poses. A good value might be 0.001. -->
    <param name="recovery_alpha_fast" value="0.1"/> <!-- Exponential decay rate for the fast average weight filter, used in deciding when to recover by adding random poses. A good value might be 0.1. -->
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="0.0"/>
    <param name="initial_cov_xx" value="0.25"/>
    <param name="initial_cov_yy" value="0.25"/>
    <param name="initial_cov_aa" value="3.926"/>
    <param name="gui_publish_rate" value="-1.0"/>
    <param name="save_pose_rate" value="0.5"/>
    <param name="use_map_topic" value="false"/>
    <param name="first_map_only" value="false"/>

    <!-- Laser model parameters-->
    <param name="laser_min_range" value="-1.0"/>
    <param name="laser_max_range" value="12"/>
    <param name="laser_max_beams" value="50"/>
    <param name="laser_z_hit" value="0.8"/>
    <param name="laser_z_short" value="0.1"/>
    <param name="lazer_z_max" value="0.05"/>
    <param name="lazer_z_rand" value="0.1"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_likelihood_max_dist" value="1.5"/>
    <param name="laser_model_type" value="likelihood_field"/>


    <!-- Odometry model parameters-->
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="odom_alpha1" value="0.005"/> <!-- Lower default noise settings --> <!-- For my_robot use .005 as better results were found-->
    <param name="odom_alpha2" value="0.02"/>
    <param name="odom_alpha3" value="0.02"/>  <!-- Values of .15 did well as well -->
    <param name="odom_alpha4" value="0.02"/>
    <param name="odom_alpha5" value="0.02"/>  <!-- Translation-related noise parameter (only used if model is "omni"). -->
    <param name="odom_frame_id" value="odom"/>    
    <param name="base_frame_id" value="robot_footprint"/>
    <param name="global_frame_id" value="map"/>

  </node>
   
  <!-- MOVE BASE -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
    
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

  </node>

</launch>
